.logo {
  width: 120px;
  height: 55px;
  margin: 0 auto 0 15px;
  background-color: rgb(40, 42, 44);
  color: burlywood;
}

.headerRightSide {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  float: left;
  margin: 0 auto 0 7px;
}

.lang {
  float: right;
  margin: 0 7px 0 auto;
}
