html,
body {
  color: white !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  height: 64px;
  background-color: #799a7d !important;
}

header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  background-color: #799a7d;
}

aside {
  padding: 10px;
  width: 250px !important;
  height: calc(100vh - 128px);
  background: rgb(39, 39, 39) !important;
}

main {
  padding: 20px;
  background-color: aliceblue !important;
}
